* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
	width: 100%;
	height: auto;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 60px;
}

.imgs {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 300px 300px;
	gap: 30px;
	place-items: center;
}

img {
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.rasm {
	background-color: black;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner{
	position: absolute;
	z-index: 1;
}

button {
	width: 180px;
	height: 50px;
	border-radius: 8px;
	background-color: black;
	border: 2px solid blueviolet;
	color: white;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.5s ease;
}

button:hover {
	scale: 1.1;
}

button:active {
	scale: .96;
}
.hide{
	display: none;
}
.spinner{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid blue;
	border-top: 4px solid red;
	animation: spinner 3s linear infinite;
}




@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 660px) {
	section {
		height: auto;
	}

	.imgs {
		grid-template-columns: 300px;
		grid-template-rows: 300px;
		gap: 60px;
	}

	.rasm {
		background: black;
	}
}